---
// Testimonials.astro
---
<section class="testimonials-section">
    <div class="container">
        <h2>What Our Clients Say</h2>
        <div class="testimonials-container">
        <div class="testimonial">
            <p>"Granite Impressions did an amazing job on our kitchen. The quartz countertops are stunning!"</p>
            <cite>- Jane D., Olathe</cite>
        </div>
        <div class="testimonial">
            <p>"The team was professional and the installation was flawless. We love our new granite island."</p>
            <cite>- John S., Kansas City</cite>
        </div>
        <div class="testimonial">
            <p>"Highly recommend! They helped us choose the perfect granite for our budget and style."</p>
            <cite>- Mary P., Overland Park</cite>
        </div>
    </div>
</section>
